/* GENERAL */
*{
    margin: 0%;
    padding: 0%;
}
/* ##################################### */

/* ##################################### */
/* MENU DE NAVEGACION */

/* ESPECIFICACIONES DE ELEMENTOS DE LISTA */
.nave ul li{
    list-style: none;
    display: inline-block;
}

.menu li a:hover{
    background-color: #8bffff;
    color: #009092;
}

.menu li a:active{
    color: black;
}

/* UL: CLASE MENU */
.menu{
    text-align: center;
}

/* ENLACES */
.menu li a{
    text-decoration: none;
    
    color: black;
    font-family: cursive;
    font-weight: bold;

    padding: 15px 25px;
    display: block;
}

/* CONTENEDOR MENU */
.nave{
    width: 75%;
    margin: 20px auto;

    background-color: #00ffff;
    border-radius: 10px;
}




/* ##################################### */

/* ##################################### */
/* IMAGENES */
img{
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* ##################################### */

/* ##################################### */
/* TITULO GENERAL */

h1{
    padding: 15px 0px 30px 0px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

/* ##################################### */

/* ##################################### */
/* MAIN */

main{
    width: 75%;
    margin: 30px auto;
    background-color: #00c6c7;
    -webkit-box-shadow: 0px 3px 36px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 36px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 36px 3px rgba(0,0,0,0.75);

    border-radius: 10px;
}

body{
    background-color: #009092;
}

/* ##################################### */
/* TITULOS CANCIONES */
h2{
    padding: 0px 0px 0px 80px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
/* ##################################### */

/* ##################################### */
/* LETRA CANCION */

p{
    font-size: 15px;
}

small{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}